pypdf
pytesseract
transformers
langchain
accelerate
chromadb
tiktoken
sentence_transformers==2.7.0
langchain_huggingface
langchain
langchain_community
streamlit
json
time
requests
logging
langchain_text_splitters
langchain_schema

